streamlit
openai
pytest
httpx
respx
coverage
pytest-cov
langchain
langchain-community
langchain-experimental
langchain-openai
sqlalchemy
langchain-core
python-docx
pandas
pdfreader
langchain-text-splitters
pypdf
langchain-chroma
markdown
beautifulsoup4